<!-- REQUIRE THE D3 LIBRARY Visual Sedimentation -->
<script type="text/javascript" src="/assets/_VisualSedimentation.js"></script> 

<!-- REQUIRE APP.JS FOR THE WEBSOCKET -->
<script type="text/javascript" src="/assets/app.js"></script> 


<%#= javascript_include_tag "_VisualSedimentation.js" %>
<%#= javascript_include_tag "app.js" %>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    Market Price USD: <%= @parsed_response["market_price_usd"] %><br /><!-- current market price -->

    
    <!-- displays the price -->
    <p id="grandtotal" ></p>
    <div id="output"class="btclist">
    </div>

    <%= javascript_tag do %><!-- creates a var=priceUSD for JS -->
      priceUSD = "<%= @parsed_response["market_price_usd"] %>"
    <% end %>

  </div>
  <div class="col-md-7">
    <div id="myDemo">
      <%#= javascript_include_tag "moneyFalling.js" %>
      <script type="text/javascript" src="/assets/moneyFalling.js"></script>
    </div>
  </div><!-- END OF D3 BARCHART -->
</div>
