/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 * require bootstrap-material-design
 */


 @import 'bootstrap';


// ::-webkit-scrollbar {
//   width: 15px;
//   height: 15px;
// }

// ::-webkit-scrollbar-track-piece  {
//   background-color: black;
// }

// ::-webkit-scrollbar-thumb:vertical {
//   height: 30px;
//   background-color: grey;
// }

html, body {
  height: 100%;
}
//Header for Market Price display
h4 {
  font-size: 20px;
  font-weight: bold;
}
.logo-style{ // padding for FEDERAL BITCOIN images
  text-align: center;
  margin: auto;
}
.active { // light grey for active tab
  border: 1px solid #898C90;
  border-bottom: none;
}

//red and green colors
.red {color: red;}
.green {color: green;}

.btclist { // the div is the running list of all the transaction
  font-family: 'Slabo', serif;
  font-size: 18px;
  padding-left: 50px;
  height: 555px;
  width: 200px;
  box-sizing: border-box;
  text-align:left;
}
.token-click { // style for the text that appears when a token is clicked
  padding-top: 4px;
  font-family: 'Slabo', serif;
  font-size: 25px;
  color: green;
  text-shadow: 2px 2px #7bfc8a;
  display: inline-block;
  float: left;
}
.btn-center { // centers the buttons at the top of the page
  font-family: 'Slabo', serif;
  text-align: center;
  margin: auto;
  padding: 5px;
  font-family: 'Enriqueta', serif;
}
.donate { // sets our dontate address to the bottom and centers
  font-family: 'Slabo', serif;
  clear: both;
  text-align: center;
  margin: auto;
}
.center { // centers stuff inside the div with MARKET PRICE USD
  font-family: 'Slabo', serif;
  font-size: 18px;
  text-align: center;
  margin: auto;
}
.core-header-panel { // this sits just inside the col-3 div
  float: left;
  width: 100%;
  height: 100%;
  margin: 5px;
  overflow-x: hidden;
}
.bg-white{
  background-color: white;
}
.col-md-9 { // is main col with d3 model and buttons at top
  background: #D8DADB;  
}

.col-md-3 { // contains all of sidebar
  background-image: linear-gradient(#dbddde, #898c90);
  background: linear-gradient(to bottom, #dbddde 0%,#898c90 100%);
  // box-shadow: 1px 1px 3px #292929;
  //   -webkit-box-shadow: 1px 1px 3px #292929;
  //   -moz-box-shadow: 1px 1px 3px #292929;
  padding-right: 10px;
  padding-left: 5px;
  margin-bottom: -599px;
  padding-bottom: 599px;
}
.img2 { // for the log padding
  padding-top: 30px;
  padding-right: 10px;
}
.rails-link { // for the links to the chart, bubble, and gravity pages below the logo
  padding: 5px; 
  display: inline-block;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover{ // for the tabs 
  color: #555555;
  background-color: #DADCDD;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
.nav > li > a:hover, .nav > li > a:focus { // for the tabs on:hovertext-decoration: none;
background-color: #939393;
}
// to reduce padding from 10px 15px to 5px 10px
.nav > li > a {
  position: relative;
  display: block;
  padding: 5px 10px;
}
//Old Color #791FE0


a:link { // for the link colors
  color: #791FE0;
  font-size: 20px;
}
a:visited { // link colors
  color: #791FE0;
  font-size: 20px;
}
a:hover { // link colors
  color: #CCCCCC;
  font-size: 20px;
}
a:active { // link colors
  color: #791FE0;
  font-size: 20px;
}
//Defines bitcoin donate link
a.a2:link {
  color: #791FE0;
  font-size: 14px;
}
a.a2:visited {
  color: #791FE0;
  font-size: 14px;
}
a.a2:hover {
  color: #791FE0;
  font-size: 14px;
}
a.a2:active {
  color: #791FE0;
  font-size: 14px;
}
//The canvas for the homepage is inside this div ID tag. Set to white.
#myDemo {
  background-color: #FFFFFF;
}
#heatchart {
  background-color: #FFFFFF;
}

// .row {
//     display: table;
// }

// [class*="col-"] {
//     float: none;
//     display: table-cell;
//     vertical-align: top;
// }

.row{
    overflow: hidden; 
}


