/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 * require bootstrap-material-design
 */


 @import 'bootstrap';


// ::-webkit-scrollbar {
//   width: 15px;
//   height: 15px;
// }

// ::-webkit-scrollbar-track-piece  {
//   background-color: black;
// }

// ::-webkit-scrollbar-thumb:vertical {
//   height: 30px;
//   background-color: grey;
// }

html {
  font-family: 'Slabo 27px', serif;
}

//Gold Circles menu
#goldCircle {
background-image: -webkit-radial-gradient(30% 40%, rgb(255,255,100), rgb(0,0,0));
background-image: -moz-radial-gradient(30% 40%, rgb(255,255,100), rgb(0,0,0));
background-image: -ms-radial-gradient(30% 40%, rgb(255,255,100), rgb(0,0,0));
background-image: -o-radial-gradient(30% 40%, rgb(255,255,100), rgb(0,0,0));
background-image: radial-gradient(circle at 30% 40%, rgb(255,255,100), rgb(0,0,0));

}
a.gold:link, a.gold:visited {
  border: 1px solid #333333;
  color: white;
  text-shadow: 1px 1px 1px #444444;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-decoration: none;
  display: block;
  width: 107px;
  border-radius: 60px;
  line-height: 107px;
  float: left;
  text-align: center;
  margin: 0 19px 0 19px;
}

a.gold:hover, a.gold:focus {
  box-shadow: inset 1px 1px 10px black;
}

a.gold:active {
  box-shadow: inset 1px 1px 40px black;
}

.goldContainer {
  float:right;
  margin:10px;
  padding-bottom: 20px;
}

.btclist {
  padding-left: 30px;
  height: 600px;
  width: 200px;
}
.navbar-width {
  width: 800px;
  left: 0;
  text-align: center;
  margin: auto;
}

.core-header-panel {
  float: left;
  width: 100%;
  min-height: 400px;
  margin: 5px;
  box-shadow: 1px 1px 3px #292929;
    -webkit-box-shadow: 1px 1px 3px #292929;
    -moz-box-shadow: 1px 1px 3px #292929;
  border: 1px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
}

.core-header-panel[mode=cover]::shadow #mainContainer {
  left: 70px;
}

.core-header-panel2 {
  float: left;
  min-height: 400px;
  width: 100%;
  margin: 5px;
   box-shadow: 1px 1px 3px #292929;
    -webkit-box-shadow: 1px 1px 3px #292929;
    -moz-box-shadow: 1px 1px 3px #292929;
  border: 1px solid black;
}

.core-header-panel2[mode=cover]::shadow #mainContainer {
  left: 70px;
}

.core-header {
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  padding: 0 10px;
  background-color: #00FF00;
  color: #FFF;
  transition: height 0.2s;
}

.core-header.tall {
  height: 180px;
}

.core-header.medium-tall {
  height: 120px;
}

.content {
  background: #FFFFFF;
}

.img2 {
border: 0;
padding: 9px;
}