<h1>Block Chain Stats</h1><br />
<script type="text/javascript" src="/assets/addressSearch.js"></script> 
<input type="text"></input>
<button id="addressSearch"></button>
<p id="blockchain"></p>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <button type="button" class="btn btn-default" data-content="This is a snackbar! Lorem lipsum dolor sit amet..." data-toggle="snackbar" data-timeout="0">Show snackbar</button>
    <table class="table table-striped">
      <tr>
        <!-- This get's Block Chain statistics --> 
        <td>Market Price USD:</td><td> <%= @parsed_response["market_price_usd"] %></td>
      </tr>
      <tr>
        <td>Hash Rate: </td><td> <%= @parsed_response["hash_rate"] %></td>
      </tr>
      <tr>
        <td>Difficulty:</td><td> <%= @parsed_response["difficulty"] %></td>
      </tr>
      <tr>
        <td>Total BTC Sent:</td><td> <%= @parsed_response["total_btc_sent"] %></td>
      </tr>
    </table>
  </div>

  <div class="col-md-4"></div>
</div>