<!DOCTYPE html>
<html>
<head>
  <title>Federal Bitcoin</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- JAVASCRIPT LIBRARY LINK -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- BOOTSTRAP LIBRARY LINK -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px|Open+Sans|Antic+Slab|Average|Rosarivo|PT+Mono|Oxygen|Belleza|Imprima|Karla|Pontano+Sans|Electrolize|Italiana|Lusitana|Prata|Enriqueta|Roboto:400,900' rel='stylesheet' type='text/css'>


</head>
<body>

  <%= yield %>

</body>
</html>

